<nav class="navbar navbar-light bg-light fixed-top bg-transparent">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">GALLERY</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">BEHIND THE CANVAS</a>
          </li>
          
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">STARISIM</a>
          </li>
          
          <li>
            <hr class="dropdown-divider">
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              COLLECTIONS
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">

              <li><a class="dropdown-item" href="#">NFTs</a></li>
              <li><a class="dropdown-item" href="#">Canvas</a></li>
              <li><a class="dropdown-item" href="#">Silkscreen</a></li>              
              <li><a class="dropdown-item" href="#">Sculptures</a></li>
              <li><a class="dropdown-item" href="#">Murals</a></li>              
              <li><a class="dropdown-item" href="#">Monastairism</a></li>
            </ul>
          </li>
          
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">EXIBITIONS</a>
          </li>
          
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">COLLABORATIONS</a>
          </li>
          
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">PRESS</a>
          </li>
          
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
          </li>
          
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
        </ul>

        <div class="mt-5">
          <img src="../assets/img/WhatsApp.jpeg" class="img-fluid w-50" alt="">
        </div>

              
  <div class="d-flex justify-content-around align-items-end">

    <i class="fa-3x"><img src="../assets/img/icons8-instagram-150.png" style="max-width: 4vw;" alt=""></i>

    <i class="fab fa-twitter-square fa-3x mt-4"></i>

    <i class="fas fa-envelope fa-3x mt-4"></i>
    
    <i class="fa-3x"><img src="../assets/img/external-ship-thanksgiving-vitaliy-gorbachev-fill-vitaly-gorbachev.png" style="max-width: 4vw;" alt=""></i>

  </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fliud">
  <app-canvas></app-canvas>
</div>

<footer style="width: 100%; border-top: solid black 2px;">
<div class="row container w-100">
  <div class="col-2 mt-4">
      <p>GALLERY</p>
      <p>BEHIND THE CANVAS</p>
      <p>STAIRISM</p>
      <p>COLLECTIONS</p>
      <p>EXIBITION</p>    
  </div>
  <div class="col-3 mt-4">
    <p>COLABORATION</p>
    <p>TIMELINE</p>
    <p>PRESS</p>
    <p>SHOP</p>
    <p>CONTACT</p>
  </div>
  <div class="col-4">
        <div>
          <img src="../assets/img/WhatsApp.jpeg" alt="" class="img-fluid">
        </div>
    <p class="text-center">All Rights Reserved, Coby Katz LLC</p>
  </div>
  <div class="col-3 d-flex justify-content-around align-items-end">

    <i class="fa-3x"><img src="../assets/img/icons8-instagram-150.png" style="max-width: 4vw;" alt=""></i>

    <i class="fab fa-twitter-square fa-3x mt-4"></i>

    <i class="fas fa-envelope fa-3x mt-4"></i>
    
    <i class="fa-3x"><img src="../assets/img/external-ship-thanksgiving-vitaliy-gorbachev-fill-vitaly-gorbachev.png" style="max-width: 4vw;" alt=""></i>

  </div>
</div>
</footer>
